<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top" style="background: #0B0D19;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <img src="assets/img/its_logo/Interland_Logo-02.svg" alt="">
          <div class="social-links text-center text-md-right pt-3 pt-md-0"  style="display: flex; gap: 15px;">
            <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
            <a href="https://www.facebook.com/interlandtech/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://instagram.com/life_at_interland?igshid=OGQ5ZDc2ODk2ZA==" class="instagram"><i
                class="bx bxl-instagram"></i></a>
            <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
            <a href="https://in.linkedin.com/company/interland-technology-services-pvt-ltd-" class="linkedin"><i
                class="bx bxl-linkedin"></i></a>
          </div>
        </div>

        <!-- Address 1 -->
        <div class="col-lg-3 col-md-6 mt-4 footer-contact">
          <p class="mt-2">
            7th Floor, Infopark Phase 2,<br>
            Trans Asia, Kakkanad, Kochi - 682030<br>
            India <br><br>
          </p>

          <p>
            8th Floor, Yamuna,<br>
            Phase III, Technopark<br>
            Thiruvananthapuram – 695581<br>
            India <br><br>
          </p>
        </div>

        <!-- Address 3 -->
        <div class="col-lg-3 col-md-6 mt-4 footer-contact">
          <p>
            Al Gazawi Commercial Complex, <br>
            Prince Mohammad Ben Abdel Aziz Street,<br>
            Block 3, Office 11, P.O.Box 9483,<br>
            Riyadh 11413,<br>
            KSA<br><br>
          </p>
        </div>

        <!-- Address 4 -->
        <div class="col-lg-3 col-md-6 mt-4 footer-contact">
          <p>
            5807 Topanga canyon Blvd#D105<br>
            Woodland Hills, CA 91367,<br>
            USA <br><br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4" style="justify-content: center;">
    <div class=" text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Interland</span></strong> 2014 -2026. All Rights Reserved
      </div>
    </div>
  </div>
</footer><!-- End Footer -->

<!-- Created based on Youtube [CodingLab](https://www.youtube.com/@CodingLabYT)-->
<!-- Need an individual APIkey from OpenAI to make the bot work. it's free but with limitations-->