 <!-- ======= Footer ======= -->
 <footer id="footer" >

    <div class="footer-top" style="background: #0B0D19;">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <img src="assets/img/its_logo/Interland_Logo-02.svg" alt="">
            <p class="mt-2">
              7th Floor, Infopark Phase 2,<br>
              Trans Asia, Kakkanad, Kochi - 682030<br>
              India <br><br>
              <strong>Phone:</strong> +91 9496851656<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <!-- Address 2 -->
          <div class="col-lg-3 col-md-6 mt-4 footer-contact">
            <p>
              8th Floor, Yamuna,<br>
              Phase III, Technopark<br>
              Thiruvananthapuram – 695581<br>
              India <br><br>
              <strong>Phone:</strong> +1 555 123 4567<br>
              <strong>Email:</strong> contact@interland.com<br>
            </p>
          </div>

          <!-- Address 3 -->
          <div class="col-lg-3 col-md-6 mt-4 footer-contact">
            <p>
              Al Gazawi Commercial Complex, <br>
              Prince Mohammad Ben Abdel Aziz Street,<br>
              Block 3, Office 11, P.O.Box 9483,<br>
              Riyadh 11413,<br>
              KSA<br><br>
              <strong>Phone:</strong> +966 11 462 8119<br>
              <strong>Email:</strong> support@interland.com<br>
            </p>
          </div>

          <!-- Address 4 -->
          <div class="col-lg-3 col-md-6 mt-4 footer-contact">
            <p>
              5807 Topanga canyon Blvd#D105<br>
              Woodland Hills, CA 91367,<br>
              USA <br><br>
              <strong>Phone:</strong> +1(717)746-8563<br>
              <strong>Email:</strong> support@interland.com<br>
            </p>
          </div>
          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div> -->

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div> -->
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Interland</span></strong> 2014 -2026. All Rights Reserved
        </div>
        <!-- <div class="credits">
          Designed with ❤ by<a href="#"> Amaljeev</a>
        </div> -->
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.facebook.com/interlandtech/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/life_at_interland?igshid=OGQ5ZDc2ODk2ZA==" class="instagram"><i
            class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <a href="https://in.linkedin.com/company/interland-technology-services-pvt-ltd-" class="linkedin"><i
            class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Created based on Youtube [CodingLab](https://www.youtube.com/@CodingLabYT)-->
  <!-- Need an individual APIkey from OpenAI to make the bot work. it's free but with limitations-->






