<!-- <div style="height: 800px;">
    <img src="assets/img/158667.gif" alt="" style="margin-left: 25%;margin-top: 10%;">
</div> -->

<section id="careers" class="careers">
    <div class="container">
        <div class="section-title">
            <h2>Join Interland: Your Path to a Rewarding Career</h2>
        </div>
        <div class="wrapper" id="environment">
            <div class="promote">
                <div class="careers-card-header environment">
                    <img src="../../../../assets/img/png/environment1.png" alt="environment1.png">
                </div>
                <div class="career-card-body environment">
                    <h1>Career Opportunities</h1>
                    <p>At Interland, we offer diverse career paths across various domains, including technology,
                        finance, marketing, and operations. Whether you're a seasoned professional or just starting your
                        career, you'll find opportunities to grow and make a meaningful impact.
                    </p>
                </div>
            </div>
            <div class="promote">
                <div class="career-card-body environment">
                    <h1>Innovative Work Environment</h1>
                    <p>Experience a dynamic and innovative work environment where creativity and collaboration are
                        encouraged. Our culture fosters continuous learning and development, ensuring you stay ahead in
                        your field.
                    </p>
                </div>
                <div class="careers-card-header environment">
                    <img src="../../../../assets/img/png/environment3.png" alt="environment3.png">
                </div>
            </div>
            <div class="promote">
                <div class="careers-card-header environment">
                    <img src="../../../../assets/img/png/environment4.png" alt="environment4.png">
                </div>
                <div class="career-card-body environment">
                    <h1>Employee-Centric Culture</h1>
                    <p>We prioritize our employees' well-being and professional growth. Enjoy comprehensive benefits,
                        flexible work arrangements, and a supportive community that values diversity and inclusion.
                    </p>
                </div>
            </div>
            <div class="promote">
                <div class="career-card-body environment">
                    <h1>Exciting Projects</h1>
                    <p>Work on cutting-edge projects that drive the future of digital banking and fintech. At Interland,
                        you'll be part of a team that is transforming the financial industry with innovative solutions.
                    </p>
                </div>
                <div class="careers-card-header environment">
                    <img src="../../../../assets/img/png/environment5.png" alt="environment5.png">
                </div>
            </div>
            <div class="promote">
                <div class="careers-card-header environment">
                    <img src="../../../../assets/img/png/environment2.png" alt="environment2.png">
                </div>
                <div class="career-card-body environment">
                    <h1>Professional Development</h1>
                    <p>We invest in your professional growth through ongoing training, mentorship programs, and
                        opportunities for advancement. Our commitment to your development ensures you achieve your
                        career goals.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-title">
            <h2>Explore Exciting Career Opportunities at Interland</h2>
            <p>At Interland, we're committed to innovation and excellence in the digital banking and fintech sectors.
                Join our team and contribute to groundbreaking projects in a dynamic, collaborative environment. We
                offer a range of career paths and roles to help you grow and achieve your professional goals. Here are
                some of the exciting positions currently available:</p>
        </div>
        <div class="wrapper" id="positions">
            <div class="careers-card">
                <div class="careers-card-header java-developers">
                    <img src="../../../../assets/img/png/worker-white.png" alt="worker-white.png">
                    <h1>Java Developers</h1>
                </div>
                <div class="careers-card-body">
                    <p>Design, develop, and maintain Java-based applications. Responsibilities include coding,
                        debugging, optimizing software, and ensuring performance and security.</p>
                </div>
            </div>
            <div class="careers-card">
                <div class="careers-card-header java-developers">
                    <img src="../../../../assets/img/png/worker-white.png" alt="worker-white.png">
                    <h1>Senior Java Developer</h1>
                </div>
                <div class="careers-card-body">
                    <p>Lead the design and implementation of complex Java solutions, mentor junior developers, and
                        optimize code for performance and reliability.</p>
                </div>
            </div>
            <div class="careers-card">
                <div class="careers-card-header java-developers">
                    <img src="../../../../assets/img/png/worker-white.png" alt="worker-white.png">
                    <h1>DevOps Engineer</h1>
                </div>
                <div class="careers-card-body">
                    <p>Automate and streamline processes between development and IT operations, manage CI/CD pipelines,
                        and monitor system performance and reliability.</p>
                </div>
            </div>
            <div class="careers-card">
                <div class="careers-card-header java-developers">
                    <img src="../../../../assets/img/png/worker-white.png" alt="worker-white.png">
                    <h1>DevOps Consultant</h1>
                </div>
                <div class="careers-card-body">
                    <p>Provide expertise in DevOps practices, assess current processes, design and implement DevOps
                        strategies, and optimize workflows for efficiency.</p>
                </div>
            </div>
            <div class="careers-card">
                <div class="careers-card-header java-developers">
                    <img src="../../../../assets/img/png/worker-white.png" alt="worker-white.png">
                    <h1>DevOps Manager</h1>
                </div>
                <div class="careers-card-body">
                    <p>Oversee the implementation of DevOps practices, lead DevOps teams, define strategies and goals,
                        manage resources and budgets, and align initiatives with business objectives.</p>
                </div>
            </div>
            <div class="careers-card">
                <div class="careers-card-header java-developers">
                    <img src="../../../../assets/img/png/worker-white.png" alt="worker-white.png">
                    <h1>Java DevOps Engineer</h1>
                </div>
                <div class="careers-card-body">
                    <p>Automate build and deployment processes for Java applications, manage CI/CD pipelines, optimize
                        performance, and ensure reliable application delivery across environments.</p>
                </div>
            </div>
        </div>
    </div>
</section>